extends layout.pug
block content
    .row
      .offset-sm-2.col-sm-8
            h1.display-3  View Paddock !
            .card.border-info.mb-3
                .card-header.text-info(style='font-size:30px; text-align:center; text-transform:uppercase;') #{paddock.name}
                .card-body.text-info
                   h4.card-title(style='text-decoration:underline;')  Informations : 
                   p.card-text Capacity : #{paddock.capacity}
                   - var _url01 = '/updatepaddock/' + paddock.id
                   - var _url03 = '/paddocks/delete/' + paddock.id
                   - var _url07 = '/createMonkey/'
                   a.btn.btn-primary(href=_url01) Update
                   a.btn.btn-success(href=_url07)(style='margin-left:10px') Add Monkey
                   a.btn.btn-danger(href=_url03)(style='margin-left:10px') Delete

            table.table.table-striped
                thead
                    tr
                        th.table-active Monkeys
                        th Ages
                        th Breeds
                        th Update Monkey
                        th Delete Monkey
                tbody
                each monkey in monkeys 
                    tr
                        td 
                           - var _url00 = '/monkeys/' + monkey.id
                           a(href=_url00) #{monkey.name}
                        td #{monkey.age}
                        td #{monkey.breed}
                        td 
                           - var _url01 = '/updatemonkey/' + monkey.id
                           a.btn.btn-primary(href=_url01, role='button') Update 
                        td
                           - var _url03 = '/monkeys/delete/' + monkey.id
                           a.btn.btn-danger(href=_url03, role='button') Delete
           

